.album_name {
    font-size: large;
    font-weight: bold;
}

.song_name {
    font-size: large;
    font-style: italic;
}

.blondie {
    color: #948000;
    font-family: Lobster;
    font-size: 20px;
}


.green_day {
    color: #34823e;
    font-family: Rock Salt;
    font-weight: bold;
    font-size: 20px;
}

.ramones {
    color: #282828;
    font-family: Rubik Spray Paint;
    font-weight: 100;
    font-size: 20px;
}

.ugly_kid_joe {
    color: #800000;
    font-family: Rubik Glitch;
    font-weight: 100;
    font-size: 20px;
}

.my_chemical_romance {
    color: #000000;
    font-family: Henny Penny;
    font-weight: 100;
    font-size: 20px;
}

.weezer {
    color: #007fb1;
    font-family: Nanum Gothic;
    font-weight: bold;
    font-size: 20px;
}

.the_clash {
    color: #6000b9;
    font-family: Fascinate Inline;
    font-weight: bolder;
    font-size: 20px;
}